body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 28px;
    background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1008px;
    height: 433px;
    margin: 0;
    right: 0;

}

section p {
    margin: 40px 0;
    font-size: 14px;
    line-height: 28px;
    color: #7D7987;
}

.container {
    width: 1000px;
    margin: 0 auto;
    padding-top: 65px;
}


h1 {
    font-family: 'Mulish', sans-serif;
    font-size: 49px;
    line-height: 56px;
    color: #1F1534;
    font-weight: normal;
}

h1 span {
    color: #89C5CC;
    font-weight: bold;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
}

a {
    text-decoration: none;
    color: #1F1534;
}

ul li a {
    opacity: 1;
}

ul li a:hover{
    font-weight: bold;
    animation: 0.5s;
}


ul {
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    gap: 48px;
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    list-style: none;
}

button {
    text-transform: uppercase;
    background: #69B99D;
    color: #F9F9F9;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    gap: 10px;
    padding: 14px 32px 15px;
    cursor: pointer;
}

button:hover {
    background: #58a188;
}

footer {
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    margin-top: 80px;
}

footer a {
    font-weight: bold;
}

#balls {
    position: fixed;
    bottom: 0;
    right: 0;

}
